body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f4ebeb);
}

.topbar-right {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-top: 0;
  padding: 0;
}
.topbar-right li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container{
  display:flex;
  align-items:center;
  justify-content:center;
  background:#f1f1f1;
  padding:6px 15px;
}

.navbar1 {
  background: linear-gradient(to right, rgb(255, 255, 255));
  padding: 10px;
}

.nav-list1 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.nav-list1 li {
  padding: 15px;
}

.nav-list1 li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.logo1 {
  width: 120px;
  height: auto;
}

.container h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1em;
}
.mainimg {
  display: block;
  margin: 35px auto;
  width: 60%;
  max-width: 500px;
  height: auto;
}

.topbar-left {
  background: linear-gradient(to right, rgb(255, 255, 255));
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer {
  background: linear-gradient(to right, rgb(255, 255, 255));
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: #333;
}
.header {
  display: flex;
  justify-content: flex-start;
}
